.footer {
  background: linear-gradient(to bottom right, #142e01, #84b835) no-repeat fixed;
}
.row {
  width: fit-content;
}
.fs {
  font-size: 16px;
}
.opaq {
  opacity: 0.5;
  user-select: none;
}
